html {
   font-family: Arial, sans-serif;
}

:root {
   line-height: 1.5;
 }

nav {
   color: white;
   background-color: #29075d;
   display: flex;
   align-items: center;
}

nav img {
   width: 4rem;
   height: 4rem;
   padding: 0.5rem;
}

nav h1 {
   padding: 0.5rem;
   margin-left: 0;
   margin-top: 0.5rem;
   margin-right: 0.5rem;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li a {
   color: white;
   display: block;
   padding: 0.5rem;
   margin: 0.25rem;
   border-radius: 0.5rem;
   text-decoration: none;
}

nav ul li a:hover {
   color: black;
   background-color: #7a7492;
}

.button {
   color: white;
   background-color: #29075d;
   display: block;
   padding: 0.5rem;
   margin: 0.25rem;
   border-radius: 0.5rem;
   text-decoration: none;
}

.button:hover {
   color: black;
   background-color: #7a7492;
}

.blink-bg {
   color: white;
   padding: 0.5rem;
   display: inline-block;
   border-radius: 0.5rem;
   animation: blinkingBackground 2s infinite;
}
@keyframes blinkingBackground {
   0%		{ background-color: #29075d; }
   25%		{ background-color: #29075d; }
   50%		{ background-color: #ff0000; }
   75%		{ background-color: #ff0000; }
   100%	        { background-color: #ff0000; }
}

.blink-bg:hover {
   color: black;
   animation: blinkingBackgroundHover 2s infinite;
}
@keyframes blinkingBackgroundHover {
   0%		{ background-color: #7a7492; }
   25%		{ background-color: #7a7492; }
   50%		{ background-color: #ff0000; }
   75%		{ background-color: #ff0000; }
   100%	        { background-color: #ff0000; }
}
